<p>First name : <%= @profile.first_name %></p>
<p>Last name : <%= @profile.last_name %></p>
<p>Gender : <%= @profile.gender %></p>
<p>Date of Birth : <%= @profile.date_of_birth %></p>

<%= link_to edit_profile_path(@profile), class: 'btn btn-sm btn-info' do %>
  <i class="glyphicon glyphicon-edit"></i> Edit
<% end %>