<h1>Listing patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Device no</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Created At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.device_no, edit_patient_path(patient)  %></td>
        <td><%= patient.profile.first_name %></td>
        <td><%= patient.profile.last_name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.profile.gender %></td>
        <td><%= patient.created_at.localtime %></td>
        <td><%= link_to 'Medication', medications_patient_path(patient) %></td>
        <td><%#= link_to 'Destroy', delete_medication_patient(patient), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
