<p id="notice"><%= notice %></p>

<p>Device No. : <%= @patient.device_no %></p>
<p>Username. : <%= @patient.user.username %></p>
<p>Email. : <%= @patient.user.email %></p>
<p>Device No. : <%= @patient.device_no %></p>
<p>First name : <%= @patient.profile.first_name %></p>
<p>Last name : <%= @patient.profile.last_name %></p>
<p>Gender : <%= @patient.profile.gender %></p>
<p>Date of Birth : <%= @patient.profile.date_of_birth %></p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
